<div class="container">
  <div class="friend row">
    <div class="col s12">
      <div class="card  white lighten-1">
        <div class="card-content black-text">
          <span class="card-title">Select Your Challenger!</span>
          <div class="row" ng-repeat="rows in friends.data.chunkedFriends">
            <div class="col s3" ng-click="friends.getFriendId(friend); friends.goToEmail(friend)" ng-repeat="friend in rows">
              <div class="imgWrap">
                <img class="friend_pic" src= " {{ friend.profile }}"  alt="Profile Picture">
                <p class="imgDescription">
                  <p class="text">Challenge <br>{{ friend.firstname }}</p>
                </p>
              </div>
              <div class="friend_text">
                {{ friend.firstname }} 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


