<div class="container">

<!--   <nav>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
 <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
         -->


 <div class="row">
      <div class="card  white lighten-1">
        <div class="card-content black-text">
          <span class="card-title">Friends</span>
          <div class="row" ng-repeat="rows in data.chunkedFriends">
              <div class="col s3" ng-click="getFriendId(friend)" ng-repeat="friend in rows">
                <div><friendpic></friendpic></div>
                <div class="friend_text"> {{ friend.firstname }} </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

