/*.brand-logo {
  margin: 0 0 0 20px;
}*/

.imgWrap {
  position: relative;
  height: 124px;
  width: 124px;
  margin: 0 auto;
}

.imgDescription {
  position: absolute;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  /*-webkit-transition: visibility opacity 0.5s;*/
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);   
}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.1);
}

.text {
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 27%;
  bottom: 0;
  left: 5%;
  transform: translate(-50%, -50%);
  right: 0;
  visibility: hidden;
  opacity: 0;
  /*-webkit-transition: visibility opacity 0.5s;*/
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);   
}

.imgWrap:hover .text{
  visibility: visible;
  opacity: 1;
  z-index: 1;
  color: white;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}


.friend_pic {
    display:block;
    z-index: 1;
    margin: 0 auto;
    border:0;
    width:124px;
    height:124px;
    border-radius: 50%;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
}

.imgWrap:hover .friend_pic {
    z-index: 0;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
    cursor: pointer;
}

.friend_text {
  text-align: center
}








